body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.section {
    margin-bottom: 30px;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin: 20px;
}

.item {
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item img {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 50%;
    height: 75%;
}

.item-label {
    margin-left: 10px;
}

.item input[type="checkbox"] {
    margin: 0;
}

.submit-button {
    text-align: center;
    margin: 20px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}